main {
    flex: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aquamarine;
}

input {
    margin: 30px;
}

img {
    width: 200px;
    height: 100px;
    border: none;
}

h1 {
    font-family: Impact;
}

h2 {
    font-family: Arial;
}

p {
    font-family: "Arial Hebrew";
}
